h1 {
    font-size: 2em;
    color: hsl(0, 14%, 95%);
    text-align: center;
    }
html{
    background-color: black;
}
img{
    width: 50%;
    height: 25%;
    margin-left: 25%;
    border: 10px solid white;
    border-radius: 10px;
}
p{
    color: white;
    text-align: center;
    font-family: cursive;
}
